
.personInfo {
    display: flex;
    justify-content: flex-start;
}

.personInfo img{
    max-width: 80px;
    max-height: 80px;
    margin-right: 8px;
}

.infoText > h2{
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 5px;
}

.aboutPerson {
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}