@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


.card {
    background-color: #fff;
    border-radius: 3px;
    padding: 30px;
    margin: 10px;
    text-align: center;
    width: 220px;
    max-width: 100%;
    cursor: pointer;
}

.card img {
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 75px;
}

.card:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
}

.card h4 {
    margin: 10px 0;
    color: #302e2e;
}

.card small {
    color: #777;
    display: block;
}

.card button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #999;
    padding: 10px 25px;
    margin-top: 25px;
    cursor: pointer;
}

.card.active button {
    background-color: #748DFF;
    border: 0;
    box-shadow: 0px 2px 5px rgba(116, 141, 255, 0.7);
    color: #fff;
}

@media screen and (max-width: 600px) {
    .cards {
        flex-wrap: wrap;
    }

    .card.active {
        transform: scale(1);
    }
}