
.app-wrapper {
    display: grid;
    max-width: 1210px;
    padding: 0 15px;
    margin: 0 auto;
    grid-template-areas:
    "h h"
    "n c";
    grid-template-columns: 300px 880px;
}

.content {
    grid-area: c;
    margin-left: 10px;
    padding: 5px;
    min-height: 500px;
}

