.dialogs {
    display: grid;
    grid-template-columns: 100px 900px;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .dialog {
    background: #267c78;
    padding: 5px;
    margin: 10px 0;
}

.messages {
    padding: 10px;
    width: 500px;
}

.message {
    padding: 5px;
    margin: 10px 0;
}


.message textarea {
    resize: vertical;
    margin: 20px 0;
}

.active {
    color: gold;
}

